#define MY_LASTNAME ""
#define MY_LASTNAME_SHIFT ""
#define MY_USERNAME ""
#define MY_GMAIL ""
#define MY_WORK_EMAIL ""
#define MY_PHONE ""
#define MY_ADDRESS ""
#define MY_PLOVER ""
#define MY_PLOVER_SHIFT ""

